<!DOCTYPE html>
{% extends 'logged_nav_bar.html' %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Courier</title>
</head>
<body>
{% block content %}
<section class="contact-page-area" >
<form class="col-xs-12 col-xs-offset-3 col-md-6 "  method="POST" action="">
        <div class="p-3 mb-2 bg-info text-white text-center "><h2>Courier Form</h2></div>
    {% csrf_token %}
  {{ form|crispy }}
        <input class= "btn btn-outline-info"type="submit">
    <br><br>

        <div class="alert alert-info" role="alert">
            Cancel registration process and <a href="{%url 'success' %}" >GO BACK</a> </div>
    </form>
    </section>


{% endblock %}
</body>
</html>